/* Global reset and base styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    box-sizing: border-box;
    color: white;
    
}




/* navbar */
/* navBar */
.logo {
  width: 70px;
}

.home-link {
  background: linear-gradient(180deg, #27247D 0%, #4741E3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 700;
}




.filter-button {
  background-color: #f8a4a4;
  border: none;
  background: linear-gradient(180deg, #27247D 0%, #4741E3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 25px;
  margin-right: 10px;
  
}

.filter-button:focus {
  outline: none;
}

.search-icon-btn{
 border: none;
 background-color: white;
 padding: 12px;
}
.search-input {
  border: none;
  font-size: 16px;
  color: #A9A9A9;
  padding: 15px;
  
}

.search-input:focus {
  outline: none;
}

.search-icon {
  color: #A9A9A9;
  font-size: 20px;
  
  padding: 5px;
  border-radius: 50%;
}
/* for search results */
.search-results {
 position: absolute;
 background-color: white;
 
 max-height: 200px;
 overflow-y: auto;
 width: 100%;
 z-index: 5;
 transform: translateY(10px);
 /* display: none; */
}
.search-box-img{
 height: 50px;
 width: 50px;
 object-fit: contain;
 object-position: center;
}



.company-link {
  background: linear-gradient(180deg, #27247D 0%, #4741E3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.products-link {
  background: linear-gradient(180deg, #27247D 0%, #4741E3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.contact {
  font-size: 20px;
}




/* main */
/* breadcrumb area */
.tooltip-inner {
    max-width: none;
    background: linear-gradient(180deg, #27247D 0%, #4741E3 100%);
  }
  /* Ensure your image is constrained */
  .custom-tooltip img {
    max-width: 50px; /* adjust this value as needed */
    width: auto;
  }


  /* product title */
  .product-title{
    background: linear-gradient(180deg, #27247D 0%, #4741E3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* products area 3 products */

/* .product-slider{
  display: flex;
  align-items: center;
  gap: 20px;
} */

.product{
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease
}
.product img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.inactive{
  filter: blur(4px);
  pointer-events: none;
}
.active{
  filter: none;
  width: 300px;
  cursor: pointer;
  
}
.active:hover{
  transform: scale(1.4);
  z-index: 1;
  
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

  
.position-two-icons{
    transform: translateX(400px);
}
  @media(max-width:1000px){
    .position-two-icons{
        transform: translateX(0px) !important;
    }
    .position-three-icons
    {
        transform: translateX(-50px) !important;
    }
  }
  .position-three-icons{
    transform: translateX(400px);
  }
  .position-three-icons img{
    width: 50px;
  }

  /* product meta data */
  .bg-colorfull{
    background: linear-gradient(180deg, #27247D 0%, #4741E3 100%);
  }



  /* similar products */
  .similar-products-btn {
    background: linear-gradient(180deg, #27247D 0%, #4741E3 100%);
    border: none;
    color: white; /* Ensure text color is white by default */
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.similar-products-btn:hover {
    background: white !important; 
    color: #27247D !important; 
     /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)  */
}

.product-image-container {
  width: 100%;       /* Adjust as needed */
  height: 200px;     /* Fixed height for uniformity */
  overflow: hidden;  /* Hide any overflow */
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures image covers the container, cropping if needed */
}
.products-title{
  background: linear-gradient(180deg, #27247D 0%, #4741E3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-colored{
  background: linear-gradient(180deg, #27247D 0%, #4741E3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer */
.footer-box{
    background: linear-gradient(180deg, #27247D 0%, #4741E3 100%);
}